@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .checkbox {
    @apply size-5 bg-stone-800 rounded border-4 border-stone-800 peer-checked:bg-stone-500 transition-all;
  }
}
